<div data-role="page" id="main" data-theme="a" data-title="{{appTitle}}">
	<div data-theme="a" data-role="header">
		<h1>Wat, missä juna?</h1>
		<a id="search_history" href="#search_history_dialog" data-icon="star" data-iconpos="notext" class="ui-btn-right" data-transition="fade">Hakuhistoria</a>
	</div>
	<div data-role="content">
		<form id="search-form">
			<div data-role="fieldcontain">
				<label for="fromCity" class="ui-select">Mistä:</label>
                <div class="ui-select">
                    <a id="fromCity" href="#city_selection_dialog?city=from" data-role="button" data-icon="arrow-d" data-iconpos="right">Valitse...</a>
                </div>
                {{!<!--
				<select id="fromCity" data-native-menu="false"><option value="" selected="selected">Valitse...</option></select>
				-->}}
			</div>
			<div data-role="fieldcontain">
				<label for="toCity" class="ui-select">Minne:</label>
                <div class="ui-select">
                    <a id="toCity" href="#city_selection_dialog?city=to" data-role="button" data-icon="arrow-d" data-iconpos="right">Valitse...</a>
                </div>
                {{!<!--
				<select id="toCity"><option value="" selected="selected">Valitse...</option></select>
				-->}}
			</div>
			<h2>Päivä ja aika</h2>
			<div data-role="fieldcontain">
				<label for="date">Päivämäärä:</label>
				<input id="date" data-role="datebox" data-options='{"mode":"calbox"}' placeholder="pp.kk.vvvv" type="text" />
			</div>
			{{! <!-- NOT IN USE
			<div data-role="fieldcontain">
				<label for="timeType">Lähtö- vai tuloaika:</label>
				<select id="timeType" data-role="slider">
					<option value="1">Lähtö</option>
					<option value="2">Tulo</option>
				</select>
			</div>
			-->}}
			<div data-role="fieldcontain">
				<label for="time">Kello:</label>
				<input id="time" placeholder="HH:mm" type="text" />
			</div>
			<a id="searchConnections" data-role="button" data-icon="search" data-theme="a">Hae</a>
		</form>
	</div>
</div>

<!-- Results -->
<div data-role="page" id="hakutulokset" data-theme="a" data-title="{{appTitle}}">
	<div data-theme="a" data-role="header">
		<a href="#" data-icon="back" data-iconpos="notext" class="ui-btn-left" data-back="true" data-transition="fade">Takaisin</a>
		<h2 id="resultsTitle"></h2>
	</div>
	<div data-role="content">
		<ul id="resultsList" data-role="listview" data-theme="a"></ul>
	</div>
	<div id="resultsFooter" data-role="footer" class="ui-bar">
		<a id="previous_connections" data-role="button" data-icon="arrow-l">Edelliset</a>
		<a id="next_connections" data-role="button" data-icon="arrow-r" data-iconpos="right">Seuraavat</a>
	</div>
</div>

<!-- Search history -->
<div id="search_history_dialog" data-role="page" data-title="{{appTitle}}">
	<div data-role="header" data-theme="a">
        <a href="#" data-icon="back" data-iconpos="notext" class="ui-btn-left" data-back="true">Takaisin</a>
		<h2>Hakuhistoria</h2>
	</div>

	<div data-role="content" data-theme="a">
		<ul id="searchHistoryList" data-role="listview" data-theme="a" data-divider-theme="a" data-filter="true" data-filter-theme="a" data-filter-placeholder="Etsi...">
		</ul>
	</div>
</div>

<!-- City selection dialog -->
<div id="city_selection_dialog" data-role="page" data-title="{{appTitle}}">
    <div data-role="header" data-theme="a">
        <a href="#" data-icon="back" data-iconpos="notext" class="ui-btn-left" data-back="true">Takaisin</a>
        <h2 id="citySelectionTitle">Valitse lähtöasema</h2>
    </div>

    <div data-role="content" data-theme="a">
        <ul id="citySelectionList" data-role="listview" data-theme="a" data-divider-theme="a" data-filter="true" data-filter-theme="a" data-filter-placeholder="Etsi...">
        </ul>
    </div>
</div>

<!-- Train details -->
<div id="junan-tiedot" data-role="page" data-title="{{appTitle}}">
	<div data-role="header" data-theme="a">
		<a href="#" data-icon="back" data-iconpos="notext" class="ui-btn-left" data-back="true" data-transition="fade">Takaisin</a>
		<h2 id="trainDetailsTitle"></h2>
	</div>

	<div data-role="content" data-theme="a">
		<ul id="trainDetailsList" data-role="listview" data-theme="a" data-divider-theme="a"></ul>
	</div>
</div>

<!-- Map -->
<div id="kartta" data-role="page" data-title="{{appTitle}}">
	<div data-role="header" data-theme="a" data-position="fixed">
		<a href="#" data-icon="back" data-iconpos="notext" class="ui-btn-left" data-back="true" data-transition="fade">Takaisin</a>
		<h2 id="mapTitle">Kartta</h2>
		<a id="refreshMap" data-icon="refresh" data-iconpos="notext" class="ui-btn-right">Päivitä</a>
	</div>
	<div id="mapContent" data-role="content">
		<div id="mapCanvas"></div>
	</div>
</div>